<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LikeMapper">

    <select id="selectList">
        SELECT like_no, member_no, ref_id, ref_type FROM likes 
        WHERE member_no = #{member_no} 
        <if test="listCount > 0" >
            LIMIT ${offset}, ${listCount}
        </if>
    </select>

    <select id="selectCount">
        SELECT count(*) FROM likes WHERE member_no=#{member_no};
    </select>

    <!-- <select id="selectItem">
        SELECT  like_no, member_no, ref_id, ref_type FROM likes 
        WHERE member_no = #{member_no} AND ref_id = #{ref_id} AND ref_type = #{ref_type};
    </select> -->
    <select id="selectItem">
        SELECT  like_no, member_no, ref_id, ref_type FROM likes 
        WHERE like_no = #{like_no};
    </select>

    <insert id="insertItem">
        INSERT INTO likes (member_no, ref_id, ref_type, reg_date)
        VALUES (#{member_no}, #{ref_id}, #{ref_type}, #{reg_date});
    </insert>

    <update id="deleteItem">
        DELETE FROM likes WHERE like_no = #{like_no};
    </update>

</mapper>