<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='MemberMapper'>

    <insert id='insertItem'>
        INSERT INTO members (userid, password, username, birthday, email, profile_img)
        VALUES (#{userid}, #{password}, #{username}, #{birthday}, #{email}, #{profile_img});
    </insert>

    <select id="selectItem">
        SELECT userid, username, birthday, email, profile_img FROM members WHERE member_no=#{member_no};
    </select>

    <update id="updateItem">
        UPDATE members SET profile_img= #{profile_img}
        WHERE member_no = #{member_no}
    </update>

</mapper>