<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlaceMapper">

    <!-- select 단일행 -->
    <select id="selectItem">
        SELECT place_no, title, introduction, sbst, postcode, address, roadaddress, phoneno, alltag, tag, longitude, latitude, reg_date, edit_date, image, thumbnail
        FROM places 
        WHERE place_no = #{place_no}
    </select>

    <!-- select 다중행 -->
    <!-- 로그인상태 member_no값의 여부에 따라 검색 쿼리 변경 : 좋아요 된상태 -->
    <select id="selectList">
        SELECT p.place_no, p.title, p.introduction, p.sbst, p.postcode, p.address, p.roadaddress, p.phoneno, p.alltag, p.tag, p.longitude, p.latitude, p.reg_date, p.edit_date, p.image, p.thumbnail 
        <if test="member_no != null and member_no != ''">
            ,l.like_no
        </if>
        FROM places AS p

        <where>
            <if test="title != null and title != '' ">
                title LIKE concat('%', #{title}, '%')
            </if>
            <if test="introduction != null and introduction !='' ">
                OR introduction LIKE concat('%', #{introduction}, '%')
            </if>
            <if test="alltag != null and alltag !='' ">
                OR alltag LIKE concat('%', #{alltag}, '%')
            </if>
            <if test="tag != null and tag !='' ">
                OR tag LIKE concat('%', #{tag}, '%')
            </if>
        </where>

        <if test="member_no != null and member_no != ''">
        LEFT OUTER JOIN likes AS l ON p.place_no = l.ref_id 
        AND ref_type='P'
        AND member_no = #{member_no}
        </if>

        ORDER BY place_no DESC

        <if test="listCount>0">
            LIMIT ${offset},${listCount}
        </if>
    </select>

    <!-- 데이터 전체개수 -->
    <select id="selectCountAll">
        SELECT COUNT(*) AS cnt FROM places
    </select>

    <!-- 여행지 정보 추가 -->
    <insert id='insertItem'>
    INSERT INTO places (title,introduction,sbst,postcode,address,roadaddress,phoneno, alltag, tag, longitude,latitude, reg_date, edit_date, image, thumbnail)
    VALUES (#{title}, #{introduction}, #{sbst}, #{postcode}, #{address}, #{roadaddress}, #{phoneno}, #{alltag}, #{tag}, #{longitude}, #{latitude}, #{reg_date}, #{edit_date}, #{image}, #{thumbnail});
    </insert>
</mapper>