<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewMapper">

    <select id="selectList">
        SELECT review_no, member_no, ref_id, ref_type, title, content, image, thumbnail, reg_date, edit_date FROM reviews 
        WHERE member_no = #{member_no} 
        <if test="listCount > 0" >
            LIMIT ${offset}, ${listCount}
        </if>
    </select>

    <select id="selectListRef">
        SELECT r.review_no, r.member_no, m.userid, r.ref_id, r.ref_type, r.title, r.content, r.image, r.thumbnail, r.reg_date, r.edit_date FROM reviews AS r
        LEFT OUTER JOIN members AS m ON r.member_no = m.member_no 
        WHERE ref_type = #{ref_type} AND ref_id = #{ref_id}
        <if test="listCount > 0">
            LIMIT ${offset}, ${listCount}
        </if>
    </select>

    <select id="selectCount">
        SELECT count(*) FROM reviews WHERE member_no = #{member_no};
    </select>

    <select id="selectCountRef">
        SELECT count(*) FROM reviews WHERE ref_type = #{ref_type} AND ref_id = #{ref_id};
    </select>

    <select id="selectItem">
        SELECT review_no, member_no, ref_id, ref_type, title, content, image, thumbnail, reg_date, edit_date FROM reviews 
        WHERE review_no = #{review_no} 
    </select>

    <select id="updateItem">
        UPDATE reviews SET
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="thumbnail != null and thumbnail != ''">
                thumbnail = #{thumbnail},
            </if>
                edit_date = #{edit_date}
        WHERE review_no = #{review_no}
    </select>

    <insert id="insertItem">
        INSERT INTO reviews (member_no, ref_id, ref_type, title, content, image, thumbnail, reg_date, edit_date)
        VALUES (#{member_no}, #{ref_id}, #{ref_type}, #{title}, #{content}, #{image}, #{thumbnail}, #{reg_date}, #{edit_date});
    </insert>

    <update id="deleteItem">
        DELETE FROM reviews WHERE review_no = #{review_no};
    </update>

</mapper>